body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapperclip {
  position: relative;
  width: 100%;
  height: 200px;
}
.list .item:nth-child(5n + 1) {
  .imageClip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(
      5% 15%,
      5% 30%,
      15% 30%,
      15% 70%,
      5% 70%,
      5% 95%,
      5% 95%,
      95% 95%,
      95% 25%,
      80% 25%,
      80% 5%,
      60% 5%,
      60% 15%
    );
    clip-path: polygon(
      5% 15%,
      5% 30%,
      15% 30%,
      15% 70%,
      5% 70%,
      5% 95%,
      5% 95%,
      95% 95%,
      95% 25%,
      80% 25%,
      80% 5%,
      60% 5%,
      60% 15%
    );
  }
  .borderclip {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 15px);
    width: calc(100% + 5px);
    background-color: #1f3048;
    border: 5px solid #1f3048;
    -webkit-clip-path: polygon(
      5.5% 15%,
      5.5% 32.5%,
      15% 32.5%,
      15% 67.8%,
      5.5% 67.8%,
      5.5% 90%,
      5.5% 94.5%,
      94.5% 94.5%,
      94.5% 24.5%,
      80.2% 24.5%,
      80.2% 5.5%,
      58.5% 5.5%,
      58.5% 15%
    );
    clip-path: polygon(
      5.5% 15%,
      5.5% 32.5%,
      15% 32.5%,
      15% 67.8%,
      5.5% 67.8%,
      5.5% 90%,
      5.5% 94.5%,
      94.5% 94.5%,
      94.5% 24.5%,
      80.2% 24.5%,
      80.2% 5.5%,
      58.5% 5.5%,
      58.5% 15%
    );
  }
}
.list .item:nth-child(4n + 1) {
  // .list .item:nth-child(even) {
  .borderclip {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 15px);
    width: calc(100% + 5px);
    background-color: #1f3048;
    border: 5px solid #1f3048;
    -webkit-clip-path: polygon(5% 5%, 5% 95%, 95% 95%, 95% 55%, 65% 55%, 65% 5%, 45% 5%, 45% 25%, 25% 25%, 25% 5%);
    clip-path: polygon(5% 5%, 5% 95%, 95% 95%, 95% 55%, 65% 55%, 65% 5%, 45% 5%, 45% 25%, 25% 25%, 25% 5%);
  }

  .imageClip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(5% 5%, 5% 95%, 95% 95%, 95% 57%, 64% 57%, 64% 5%, 46% 5%, 46% 26%, 23.2% 26%, 23.2% 5%);
    clip-path: polygon(5% 5%, 5% 95%, 95% 95%, 95% 57%, 64% 57%, 64% 5%, 46% 5%, 46% 26%, 23.2% 26%, 23.2% 5%);
  }
}
.list .item:nth-child(3n + 2) {
  .borderclip {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 15px);
    width: calc(100% + 5px);
    background-color: #1f3048;
    border: 5px solid #1f3048;
    -webkit-clip-path: polygon(5% 5%, 26.5% 5%, 26.5% 37.5%, 95% 37.5%, 95% 95%, 5% 95%);
    clip-path: polygon(5% 5%, 27% 5%, 27% 38%, 95% 38%, 95% 95%, 5% 95%);
  }

  .imageClip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(5% 5%, 25% 5%, 25% 40%, 95% 40%, 95% 95%, 5% 95%);
    clip-path: polygon(5% 5%, 25% 5%, 25% 40%, 95% 40%, 95% 95%, 5% 95%);
  }
}
.list .item:nth-child(2n + 3) {
  .borderclip {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 15px);
    width: calc(100% + 5px);
    background-color: #1f3048;
    border: 5px solid #1f3048;
    -webkit-clip-path: polygon(5% 24%, 5% 95%, 95% 95%, 95% 5%, 24.5% 5%, 24.5% 24%);
    clip-path: polygon(5% 24%, 5% 95%, 95% 95%, 95% 5%, 24.5% 5%, 24.5% 24%);
  }

  .imageClip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(5% 25%, 5% 95%, 95% 95%, 95% 5%, 25% 5%, 25% 25%);
    clip-path: polygon(5% 25%, 5% 95%, 95% 95%, 95% 5%, 25% 5%, 25% 25%);
  }
}
